
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

html, body {
height: 100%;
margin: 0;
overflow: hidden;
}

body {
background-image: url(background2.jpg);
height: 100%;
margin: 0;
background-size: cover;

}
            
a,a:link,a:visited{outline:none;}

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap');


.artist_name {
position: relative;
padding-top:15px;
padding-bottom:1px;
text-align: center;
z-index: 99;
}

.header {
padding-top:1px;
padding-bottom:5px;
content:url(endorcism_logo_white.png);
width: 900px;
position: relative; 
margin: 0 auto;
 z-index: 99;
}






.order {
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
z-index: 99;
}






.bottom_area {
position: fixed;
bottom: -45px;
left: 50%;
-webkit-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.firstbottomline {
}


.tour {
display: inline;
margin-right:10px;
}

.bracketleft {
display: inline;
margin-right:20px;
margin-left: 10px;
cursor: default;
}

.socialmedia {
display: inline;
z-index: 99;
}

.bracketright {
display: inline;
margin-right:10px;
margin-left: 20px;
cursor: default;
}

.store {
display: inline;
margin-left: 10px;
vertical-align: middle;
}

.secondbottomline {
margin-top: 5px;
text-align: center;
}

.thirdbottomline {
margin-top: 5px;
text-align: center;
}

.copyright {
display: inline;
margin-right:5px;
cursor: default;
}

.allrightsreserved {
display: inline;
margin-left: 5px;
cursor: default;
}






img.spotify_white {
vertical-align: top;
}

img.applemusic_white {
vertical-align: top;
}

img.youtube_white {
vertical-align: top;
}

img.facebook_white {
vertical-align: top;
}

img.instagram_white {
vertical-align: top;
}

img.twitter_white {
vertical-align: top;
}

img.newsletter {
width:480px;
vertical-align: middle;
}









a.one {
color:#ffffff;
font-family: 'IM Fell English', serif;
 text-decoration:none;
font-size: 25px;
transition-duration: 0.4s;
}

a.one:hover {
text-shadow: 0px 0px 5px white;
}

a.two {
color:#ffffff;
font-family: 'IM Fell English', serif;
 text-decoration:none;
font-size: 30px;
transition-duration: 0.4s;
}

a.two:hover {
text-shadow: 0px 0px 5px white;
}

a.three {
color:#ffffff;
font-family: 'IM Fell English', serif;
text-decoration:none;
font-size: 25px;
transition-duration: 0.4s;
}

a.three:hover {
text-shadow: 0px 0px 5px white;
}

a.four {
color:#ffffff;
font-family: 'IM Fell English', serif;
 text-decoration:none;
font-size: 25px;
transition-duration: 0.4s;
}

a.five {
color:#ffffff;
font-family: 'IM Fell English', serif;
 text-decoration:none;
font-size: 15px;
transition-duration: 0.4s;
}

a.six {
color:#ffffff;
font-family: 'IM Fell English', serif;
font-style: italic;
 text-decoration:none;
font-size: 15px;
transition-duration: 0.4s;
}


    

</style>
</head>